<h3 class="page-header">
  Staff <small> | </small><span class="badge"><%= @staffs.count %></span>
  <div class="pull-right">
    <%= link_to new_staff_path do %>
      <i class="fa fa-plus-circle"></i>
    <% end %>
  </div>
</h3>

<%= smart_listing_render :staffs %>

<%= link_to "Back", :back, :class => "btn btn-default" %>

