<h3 class="page-header">
  Organisers <small> | </small><span class="badge"><%= @organisers.count %></span>
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @organisers.each do |o| %>
      <tr>
        <td><b><%= o.name %></b></td>
      </tr>
    <% end %>
  </tbody>
</table>