<h3 class="page-header">
  <%= @organiserable.name %> <small> | Organisers </small><span class="badge"><%= @organisers.count %></span>
  <div class="pull-right">
    <%= link_to [:new, @organiserable, :organiser] do %>
      <i class="fa fa-plus-circle"></i>
    <% end %>
  </div>
</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @organisers.each do |o| %>
      <tr>
        <td><b><%= link_to o.full_name, [@organiserable, o] %></b></td>
      </tr>
    <% end %>
  </tbody>
</table>