<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
      <%= link_to root_path do %>
				Cater
				<span class="os">OS</span>
			<% end %>
    </p>
  </div>
</div>